<html>
    <body>
        <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
        <script type=text/javascript>
        alert("wrong credentials")
        
        </script>

        

        <form action="/signup" method="post">
        <input type="text" id="username" placeholder="user" name="user"/>
        <input type="text" id="password" placeholder="password" name="pass"/>
        <input id="sbmt" type="submit" value="submit"/>
        </form>
        <form action="/signup" method="get">
        <input id="sbmt" type="submit" value="signup"/>
        </form>
        </body>
</html>